/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/styles/index.scss ***!
  \*******************************************************************************************************************/
.controls .control-button {
  width: 200px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid blue;
  font-size: 20px;
  color: blue;
}
.controls .control-button:hover {
  border: none;
  color: white;
  transition: ease 1s;
  cursor: pointer;
}
.controls .button-1 {
  margin-right: 15px;
}
.controls .button-1:hover {
  background: linear-gradient(to right, blue, lightblue);
}
.controls .button-2:hover {
  background: linear-gradient(to left, blue, lightblue);
}

.sub-head .sh-1 {
  animation: displayOn 1s 1 forwards 1s;
}
.sub-head .sh-2 {
  animation: displayOn 1s 1 forwards 2s;
}
.sub-head .sh-3 {
  animation: displayOn 1s 1 forwards 3s;
}

@keyframes displayOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.job-container {
  width: 900px;
  height: 230px;
  border-radius: 50px;
  border: 1px solid gray;
  margin: 2px;
  padding-left: 20px;
}
.job-container .job-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 98%;
  background: linear-gradient(to right, blue, lightblue);
  border-radius: 50px;
  padding-left: 0;
}
.job-container .job-header .hirer-logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: lightgray;
}
.job-container .job-header .job-header-text {
  display: flex;
  flex-direction: column;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 53px;
}
.nav .nav-title {
  margin-left: 15px;
  font-size: 1.7rem;
}
.nav .nav-title a {
  text-decoration: none;
  color: white;
}
.nav .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}
.nav .nav-links div {
  font-size: 1.3rem;
}
.nav .nav-links div a {
  text-decoration: none;
  color: white;
}

.explore-jobs-main-container {
  margin-top: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-index {
  background: linear-gradient(to bottom, blue 35%, lightblue 70%, transparent);
}
.body-index .main-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.body-index .main-display .title-head {
  margin-bottom: 80px;
  font-size: 85px;
  color: white;
  font-weight: bold;
}
.body-index .main-display .sub-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 45px;
}
.body-index .main-display .sub-head div {
  margin-left: 30px;
  opacity: 0;
}
.body-index .main-display .closing-head {
  margin-top: 45px;
  color: blue;
  font-size: 30px;
}
.body-index .main-display .controls {
  margin-top: 100px;
}
